/* -------------  My css Stuff */
/* debug */
.debugRedLine              {outline: solid 3px rgba(255, 0, 0, 0.3);}

/* removing default spacings */
*                          {padding: 0;margin: 0;}

/* flex Classes */
.flex                      {display: flex}
.flexColumn                {flex-direction: column;}
/* justify */
.flexJustifyCenter         {justify-content: center;}
.flexJustifyStart          {justify-content: flex-start;}
.flexJustifyEnd            {justify-content: flex-end;}
.flexJustifyBetween        {justify-content: space-between;}
.flexJustifyAround         {justify-content: space-around;}
.flexJustifyEvenly         {justify-content: space-evenly;}
/* alignment */
.flexAlignCenter           {align-items: center;}
.flexAlignStart            {align-items: flex-start;}
.flexAlignEnd              {align-items: flex-end;}
.flexAlignStretch          {align-items: stretch;}
.flexAlignBaseline         {align-items: baseline;}
/* flex-grow */
.flexGrow                  {flex-grow: 1;}

/* sizing divs */
.fillWidth                 {width: 100%;}
.fillHeight                {height: 100%;}
.hugHeight                 {height: fit-content;}
.hugWidth                  {width: fit-content;}

/* spacings */
.padding                   {padding: 1em;}
.paddingHalf               {padding: 0.5em;}
.margin                    {margin: 1em;}

/* visibility */
.hide                      {display: none;}
.fadeOut                   {opacity: 0;}

/* layering over */
.overlay                   {position: absolute;top: 0;left: 0;}


body{
  display: flex;
  flex-direction: column;
  align-items: center;;
  justify-content: center;
  
  height: 100vh;
}

#canvas{
  height: 10em; 
  width: 10em;
}

.threeCharBanner img{
  width: 3em;
}

.threeCharBanner{
  position: relative;
}

.cat{
  transition: 0.3s;
  opacity: 1;
}
.catHide{
  opacity: 0;
}


.binary{
  position: absolute;
  top: 0; left: 0;
  opacity: 1;
  transition: 0.3s;
}
.binaryHide{
  opacity: 0;
}

h1{
  text-align: center;
}

.centerText{
  text-align: center;
}

/* *{outline: red solid 3px;} */

.contentRoot{
  width: 20em !important;
  /* outline: red solid 3px; */
}

.title{
  margin-bottom: 0.5em;
}